# SANITY CMS CONFIGURATION
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=your_sanity_api_read_token
SANITY_WEBHOOK_SECRET=your_sanity_webhook_secret

# POSTHOG TELEMETRY
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_project_api_key
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com
